awscli
boto3
botocore
certifi
charset-normalizer
click
colorama
comtypes
contourpy
cycler
docker
docutils
filelock
fonttools
fsspec
idna
jaraco.classes
jaraco.context
Jinja2
jmespath
keyring
keyrings.alt
kiwisolver
lapx
MarkupSafe
matplotlib
more-itertools
MouseInfo
mpmath
networkx
numpy
opencv-python
packaging
pandas
pillow
psutil
py-cpuinfo
pyasn1
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
pyttsx3
pytweening
pytz
pywin32
pywin32-ctypes
PyYAML
requests
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scipy
seaborn
setuptools
six
sympy
tabulate
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
voluptuous
yolo
